BuildList
*.pm6bak
LastBuildResults
LastBuildResults.*
*.bak
*.iml
*.bump
*~
test-new
.precomp/
.test/
.idea/
.touch/
.idea/
.precomp/
dead/
examples/
*.ipynb
jupyter.log
c-helpers/time
core
*.imp-bak
*.ref-bak
scripts/
